@page
@model TSEP.App.Pages.Sælger.IndexModel
@{
}

<script src="lib/jquery/dist/jquery.js"></script>

<section class="container">
    
    <section class="row my-3">
    <h1>@Model.User.Identity.Name</h1>
    </section>
    
    <section class="row my-3">
        <ul class="nav nav-pills">
            <li>
                <a class="btn btn-lg rounded-pill btn-primary" asp-page="/Projekt/Create">Opret Nyt Projekt</a>
            </li>
        </ul>
    </section>


    @foreach (var projekt in Model.IndexViewModels)
    {



        <section class="w-50 card border-primary my-3">
            <section class="card-header">
                <h3 class="mt-2 justify-content-between w-100 d-flex">
                    @projekt.ProjektName
                    <a asp-page="../Projekt/Edit" asp-route-id="@projekt.Id">Edit</a>
                </h3>
            </section>
            <section class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4 class="d-flex justify-content-between w-100">
                            Sælger

                            <span class=" text-uppercase badge rounded-pill bg-info mx-3">@projekt.SælgerUserId</span>
                        </h4>
                    </li>
                    <li class="list-group-item">
                        <h4 class="d-flex justify-content-between w-100">
                            Kunde

                            <span class=" text-uppercase badge rounded-pill bg-success mx-3">@projekt.KundeUserId</span>
                        </h4>
                    </li>

                    <li class="list-group-item">
                        <h4 class="d-flex justify-content-between w-100">
                            Varighed
                            <span class=" text-uppercase badge rounded-pill bg-success mx-3">@projekt.StartDate</span>

                            <span class=" text-uppercase badge rounded-pill bg-warning mx-3">@projekt.EndDate</span>
                        </h4>
                    </li>

                </ul>
            </section>
        </section>
    }
</section>
