@page
@model TSEP.App.Pages.Projekt.EditModel
@{
}
<section>

    <h1>Edit Projekt</h1>

    <section class="w-25">

        <form class="form-floating" method="post">
            <section class="form-group">
                <label asp-for="Input.ProjektName"></label>
                <input asp-for="Input.ProjektName" class="form-control" autocomplete="new-description" aria-required="true"/>
                <span asp-validation-for="Input.ProjektName" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Input.StartDate"></label>
                <input asp-for="Input.StartDate" class="form-control" autocomplete="new-description" aria-required="true"/>
                <span asp-validation-for="Input.StartDate" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Input.KundeUserId"></label>
                <input asp-for="Input.KundeUserId" class="form-control" autocomplete="new-description" aria-required="true"/>
                <span asp-validation-for="Input.KundeUserId" class="text-danger"></span>
            </section>
            
            <h3>Vælg start tidspunkt på næste opgave</h3>
            <section class="form-group">
                <input asp-for="nextOpgaveStartTime" class="form-control" />
            </section>
            <br/>

            <section class="form-group">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Commit Ændringer og tilføj Opgave</button>
            </section>
            
            <input type="hidden" asp-for="Input.Id"/>
            <input type="hidden" asp-for="Input.RowVersion"/>
        </form>
    </section>    
    
    <h2>Nuværende Opgaver</h2>
    @foreach (var opgave in Model.OpgaveIndexes)
    {
        <section class="w-50 card border-primary row my-3">
            <section class="card-header">
                <h3 class="mt-2">
                    @opgave.OpgaveTypeName
                </h3>
            </section>
            <section class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4 class="d-flex justify-content-between w-100">
                            <span>Opgave Status</span>

                            <span class="text-uppercase badge rounded-pill bg-warning mx-3">@opgave.Status</span>
                        </h4>
                    </li>   
                    <li class="list-group-item">

                        <h4 class="d-flex justify-content-between w-100">
                            <span>Ansat</span>

                            <span class="text-uppercase badge rounded-pill bg-info mx-3">@opgave.AnsatName</span>
                        </h4>
                    </li>   

                    <li class="list-group-item">

                        <h4 class="d-flex justify-content-between w-100">
                            <span>Varighed</span>
                            <span class="text-uppercase badge rounded-pill bg-success mx-3">@opgave.StartTime</span>

                            <span class="text-uppercase badge rounded-pill bg-warning mx-3">@opgave.EndTime</span>
                        </h4>
                    </li>   

                </ul>
            </section>
        </section>
    }

</section>