@page
@model TSEP.App.Pages.Konverter.IndexModel
@{
}

<script src="lib/jquery/dist/jquery.js"></script>

<section class="container">
    
    <section class="row my-3">
    <h1>@Model.User.Identity.Name</h1>
    </section>

    <table class="table table-striped">
        <thead>

                <tr>
                    <th class="col-1">Projekt Id</th>
                    <th class="col-6">Opgave Beskrivelse</th>
                    <th>Status</th>
                    <th>Start tid</th>
                    <th>Slut tid</th>
                </tr>

            </thead>
        @foreach (var opgave in Model.IndexViewModels)
        {
            <tr>
                <td>
                    
                        <span>@opgave.ProjektId</span>
                    
                </td>

                 <td>
                    
                    <span>@opgave.OpgaveTypeBeskrivelse</span>
                    
                 </td>
                 <td>
                    
                        <span>@opgave.Status</span>
                    
                </td>

                <td>
                    
                        <span>@opgave.StartTid</span>
                    
                </td>
                <td>
                    
                        <span>@opgave.SlutTid</span>
                    
                </td>

            </tr>

        }
    </table>
</section>