@page
@model TredjeSemesterEksammensProjekt.Pages.Kompetance.IndexModel
@{
}


<section>


    <h1>Hej @Model.UserName</h1>

    <h2>Kompetancer</h2>

    

    <form method="post">
        <input type="hidden" value="@Model.UserId" asp-for="UserId"/>
        <input type="hidden" value="@Model.UserName" asp-for="UserName"/>
        <section class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="btn btn-lg btn-primary" asp-area="" asp-page="/Kompetance/Create">Ny Kompetance</a>
                </li>
                <li class="nav-item">
                    <input type="submit" class="btn btn-lg btn-primary" value="Opdater Kompetancer" />
                </li>

            </ul>
        </section>
        <table class="table table-striped">
            <thead>

                <tr>
                    <th class="col-1">Valg</th>
                    <th>Beskrivelse</th>
                </tr>

            </thead>
            <tbody>
                @if(Model.IndexViewModel.Any()){
                    @foreach (var kompetance in Model.IndexViewModel)
                    {
                        <tr>

                            <td>
                                <section class="form-check">
                                    @if(kompetance.Enable){
                                        <input name="KompetanceIder" type="checkbox" value="@kompetance.Id" checked />
                                    }
                                    else{
                                        <input name="KompetanceIder" type="checkbox" value="@kompetance.Id" />
                                    }
                                </section>
                            </td>

                            <td class="form-check-label">@kompetance.Desciption</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </form>
</section>
