@page
@model TredjeSemesterEksammensProjekt.Pages.Kompetance.IndexModel
@{
}


<section>


    <h1>Hej @Model.UserName</h1>

    <h2>Kompetance</h2>

    
    <a class="nav-link text-dark border border-4 w-auto" asp-area="" asp-page="/Kompetance/Create">Ny Kompetance</a>

    <form method="post">
        <input type="hidden" value="@Model.UserId" asp-for="UserId"/>
        <input type="hidden" value="@Model.UserName" asp-for="UserName"/>

        <input type="submit" class="btn btn-lg btn-primary" />

        <table class="table table-striped">
            <thead>

                <tr>
                    <th class="col-1">Valg</th>
                    <th>Beskrivelse</th>
                </tr>

            </thead>
            <tbody>
                @if(Model.IndexViewModel.Any()){
                    @foreach (var kompetance in Model.IndexViewModel)
                    {
                        <tr>

                            <td>
                                <section class="form-check">
                                    @if(kompetance.Enable){
                                        <input name="KompetanceIder" type="checkbox" value="@kompetance.Id" checked />
                                    }
                                    else{
                                        <input name="KompetanceIder" type="checkbox" value="@kompetance.Id" />
                                    }
                                </section>
                            </td>

                            <td class="form-check-label">@kompetance.Desciption</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </form>
</section>
